In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
zoo_df = pd.read_csv("zoo-python.txt", delimiter="\t")
zoo_df

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type,name
0,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,No,No,Yes,mammal,aardvark
1,Yes,No,No,Yes,No,No,No,Yes,Yes,Yes,No,No,4.0,Yes,No,Yes,mammal,antelope
2,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,0.0,Yes,No,No,fish,bass
3,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,No,No,Yes,mammal,bear
4,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,Yes,No,Yes,mammal,boar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Yes,No,No,Yes,No,No,No,Yes,Yes,Yes,No,No,2.0,Yes,No,Yes,mammal,wallaby
97,Yes,No,Yes,No,Yes,No,No,No,No,Yes,Yes,No,6.0,No,No,No,insect,wasp
98,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,Yes,No,Yes,mammal,wolf
99,No,No,Yes,No,No,No,No,No,No,Yes,No,No,0.0,No,No,No,invertebrate,worm
100,No,Yes,Yes,No,Yes,No,No,No,Yes,Yes,No,No,2.0,Yes,No,No,bird,wren

In [12]:
zoo_df.drop(columns=["name"],inplace=True)
zoo_df

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,No,No,Yes,mammal
1,Yes,No,No,Yes,No,No,No,Yes,Yes,Yes,No,No,4.0,Yes,No,Yes,mammal
2,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,0.0,Yes,No,No,fish
3,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,No,No,Yes,mammal
4,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,Yes,No,Yes,mammal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Yes,No,No,Yes,No,No,No,Yes,Yes,Yes,No,No,2.0,Yes,No,Yes,mammal
97,Yes,No,Yes,No,Yes,No,No,No,No,Yes,Yes,No,6.0,No,No,No,insect
98,Yes,No,No,Yes,No,No,Yes,Yes,Yes,Yes,No,No,4.0,Yes,No,Yes,mammal
99,No,No,Yes,No,No,No,No,No,No,Yes,No,No,0.0,No,No,No,invertebrate
100,No,Yes,Yes,No,Yes,No,No,No,Yes,Yes,No,No,2.0,Yes,No,No,bird

In [5]:
sail_df = pd.read_csv("sailing-custom-python.txt", delimiter="\t")
sail_df

   Outlook Company Sailboat Sail
0    rainy     big      big  yes
1    rainy     big    small  yes
2    rainy     med      big   no
3    rainy     med    small   no
4    sunny     big      big  yes
5    sunny     big    small  yes
6    sunny     med      big  yes
7    sunny     med      big  yes
8    sunny     med    small  yes
9    sunny      no    small  yes
10   sunny      no      big   no
11   rainy     med      big   no
12   rainy      no      big   no
13   rainy      no      big   no
14   rainy      no    small   no
15   rainy      no    small   no
16   sunny     big      big  yes

In [34]:
import math
def entropy(data, target):
        entropy_val = 0
        vCounts = pd.value_counts(data[target])
        # display(vCounts)
        for target_val, total in enumerate(vCounts):
            pi = total / data.shape[0] # probability of one class
            entro = pi * math.log(pi,2)
            entropy_val += entro  
        return -entropy_val

In [19]:
entropy(sail_df,"Sail")

yes    9
no     8
Name: Sail, dtype: int64

0.9975025463691153

In [20]:
entropy(zoo_df,"type")

mammal          41
bird            20
fish            13
invertebrate    10
insect           8
reptile          5
amphibian        4
Name: type, dtype: int64

2.390559682294039

In [56]:
def majority_class(data, target):
    majority = 0
    clas = ""
    vCounts = pd.value_counts(data[target])
    # display(vCounts)
    for index, total in enumerate(vCounts):
        if total > majority:
            majority = total
            clas = vCounts.axes[0][index]
    return clas

# or just use idmax()

In [57]:
majority_class(sail_df, "Sail")

'yes'

In [61]:
def simple_rule_learner(data, target):
    while data.shape[0] > 0 : # stop finding rules if dataset is empty
        if entropy(data, target) == 0: # dataset is pure, 
            print("otherwise =>",majority_class(data, target))
            data = data.iloc[0:0] # delete all row in data
        else:
            best_entropy = entropy(data,target)
            best_attr = ""
            best_val = ""
            best_data = data
            """
            For every attributes, and every value of that attribute:
                which one yields the least entropy is the best condition to become a rule
            """
            for col in data.columns: 
                vCounts = pd.value_counts(data[col])
                for target_val in vCounts.axes[0]:
                    data2 = data.loc[data[col] == target_val]
                    entropy_data2 = entropy(data2, target)
                    if entropy_data2 < best_entropy:
                        best_entropy = entropy_data2
                        best_attr = col
                        best_val = target_val
                        best_data = data2
            print(best_attr, "=",best_val,"=>",majority_class(best_data, target))
            data = data.loc[data[best_attr] != best_val]

In [62]:
simple_rule_learner(sail_df,"Sail")

Company = big => yes
Outlook = rainy => no
Company = med => yes
Sailboat = small => yes
otherwise => no

In [63]:
simple_rule_learner(zoo_df,"type")

feathers = Yes => bird
milk = Yes => mammal
hair = Yes => insect
airborne = Yes => insect
fins = Yes => fish
legs = 8.0 => invertebrate
eggs = No => reptile
breathes = No => invertebrate
aquatic = Yes => amphibian
predator = Yes => reptile
backbone = Yes => reptile
legs = 6.0 => insect
otherwise => invertebrate